<div class="container mx-auto p-4">
  <div ubCard class="max-w-md w-full">
    <div ubCardHeader class="p-4 border-b">
      <h3 ubCardTitle class="text-2xl font-bold mb-2">Ajouter un Bateau</h3>
      <p ubCardDescription class="text-muted-foreground mb-4">
        Remplissez les détails ci-dessous.
      </p>
    </div>

    <form
      [formGroup]="boatForm"
      (ngSubmit)="addBoat()"
      class="flex flex-col space-y-4 p-4"
    >
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700"
          >Nom
        </label>
        <input
          type="text"
          id="name"
          ubInput
          formControlName="name"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('ownerName')?.invalid &&
            boatForm.get('ownerName')?.touched
          "
          class="text-red-500 text-sm"
        >
          Le nom du bateau est requis.
        </div>
      </div>
      <div>
        <label for="ownerName" class="block text-sm font-medium text-gray-700"
          >Propriétaire</label
        >
        <input
          type="text"
          id="ownerName"
          ubInput
          formControlName="ownerName"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('ownerName')?.invalid &&
            boatForm.get('ownerName')?.touched
          "
          class="text-red-500 text-sm"
        >
          Le nom du propriétaire est requis.
        </div>
      </div>

      <div>
        <label for="description" class="block text-sm font-medium text-gray-700"
          >Description</label
        >
        <textarea
          id="description"
          ubInput
          formControlName="description"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        ></textarea>
        <div
          *ngIf="
            boatForm.get('description')?.invalid &&
            boatForm.get('description')?.touched
          "
          class="text-red-500 text-sm"
        >
          La description est requise.
        </div>
      </div>

      <div>
        <label for="year" class="block text-sm font-medium text-gray-700"
          >Année</label
        >
        <input
          type="number"
          id="year"
          ubInput
          formControlName="year"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="boatForm.get('year')?.invalid && boatForm.get('year')?.touched"
          class="text-red-500 text-sm"
        >
          L'année est requise et doit être entre 1900 et l'année actuelle.
        </div>
      </div>

      <div>
        <label for="length" class="block text-sm font-medium text-gray-700"
          >Longueur (en pieds)</label
        >
        <input
          type="number"
          id="length"
          ubInput
          formControlName="length"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('length')?.invalid && boatForm.get('length')?.touched
          "
          class="text-red-500 text-sm"
        >
          La longueur est requise et doit être supérieure à 0.
        </div>
      </div>

      <div>
        <label for="price" class="block text-sm font-medium text-gray-700"
          >Prix</label
        >
        <input
          type="number"
          id="price"
          ubInput
          formControlName="price"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('price')?.invalid && boatForm.get('price')?.touched
          "
          class="text-red-500 text-sm"
        >
          Le prix est requis et doit être un montant positif.
        </div>
      </div>

      <div>
        <label
          for="registrationNumber"
          class="block text-sm font-medium text-gray-700"
          >Numéro d'immatriculation</label
        >
        <input
          type="text"
          id="registrationNumber"
          ubInput
          formControlName="registrationNumber"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('registrationNumber')?.invalid &&
            boatForm.get('registrationNumber')?.touched
          "
          class="text-red-500 text-sm"
        >
          Le numéro d'immatriculation est requis.
        </div>
      </div>

      <div class="flex justify-end">
        <button ubButton type="button" (click)="goBack()" class="mr-2">
          Annuler
        </button>
        <button
          ubButton
          type="submit"
          [disabled]="boatForm.invalid"
          class="bg-blue-500 text-white hover:bg-blue-600 py-2 px-4 rounded"
        >
          Ajouter le Bateau
        </button>
      </div>
    </form>
  </div>
</div>
