<div class="container mx-auto p-4">
  <div *ngIf="boat" ubCard class="max-w-md w-full p-4">
    <div ubCardHeader class="p-4 border-b">
      <h3 ubCardTitle class="text-2xl font-bold mb-2">
        {{ isEditMode ? "Modifier" : boat.name }}
      </h3>
      <button
        *ngIf="isEditMode"
        ubButton
        variant="outline"
        (click)="deleteBoat()"
        class="mr-2"
      >
        Supprimer
      </button>
      <p
        ubCardDescription
        class="text-muted-foreground mb-4"
        *ngIf="!isEditMode"
      >
        {{ boat.ownerName }}
      </p>
    </div>

    <form
      *ngIf="isEditMode; else viewMode"
      [formGroup]="boatForm"
      (ngSubmit)="saveBoat()"
      class="flex flex-col space-y-4"
    >
      <div>
        <label
          for="name"
          class="block text-sm font-medium text-muted-foreground"
          >Nom du bateau</label
        >
        <input
          type="text"
          id="name"
          ubInput
          formControlName="name"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="boatForm.get('name')?.invalid && boatForm.get('name')?.touched"
          class="text-red-500 text-sm"
        >
          <div *ngIf="boatForm.get('name')?.errors?.['required']">
            Le nom du bateau est requis.
          </div>
        </div>
      </div>

      <div>
        <label
          for="ownerName"
          class="block text-sm font-medium text-muted-foreground"
          >Propriétaire</label
        >
        <input
          type="text"
          id="ownerName"
          ubInput
          formControlName="ownerName"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('ownerName')?.invalid &&
            boatForm.get('ownerName')?.touched
          "
          class="text-red-500 text-sm"
        >
          <div *ngIf="boatForm.get('ownerName')?.errors?.['required']">
            Le nom du propriétaire est requis.
          </div>
        </div>
      </div>
      <div>
        <label
          for="description"
          class="block text-sm font-medium text-muted-foreground"
          >Description</label
        >
        <textarea
          id="description"
          ubInput
          formControlName="description"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        ></textarea>
        <div
          *ngIf="
            boatForm.get('description')?.invalid &&
            boatForm.get('description')?.touched
          "
          class="text-red-500 text-sm"
        >
          <div *ngIf="boatForm.get('description')?.errors?.['required']">
            La description est requise.
          </div>
        </div>
      </div>
      <div>
        <label
          for="year"
          class="block text-sm font-medium text-muted-foreground"
          >Année</label
        >
        <input
          type="number"
          id="year"
          ubInput
          formControlName="year"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="boatForm.get('year')?.invalid && boatForm.get('year')?.touched"
          class="text-red-500 text-sm"
        >
          <div *ngIf="boatForm.get('year')?.errors?.['required']">
            L'année est requise.
          </div>
          <div *ngIf="boatForm.get('year')?.errors?.['min']">
            L'année doit être supérieure ou égale à 1900.
          </div>
          <div *ngIf="boatForm.get('year')?.errors?.['max']">
            L'année ne peut pas dépasser l'année actuelle.
          </div>
        </div>
      </div>
      <div>
        <label
          for="length"
          class="block text-sm font-medium text-muted-foreground"
          >Longueur</label
        >
        <input
          type="number"
          id="length"
          ubInput
          formControlName="length"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('length')?.invalid && boatForm.get('length')?.touched
          "
          class="text-red-500 text-sm"
        >
          <div *ngIf="boatForm.get('length')?.errors?.['required']">
            La longueur est requise.
          </div>
          <div *ngIf="boatForm.get('length')?.errors?.['min']">
            La longueur doit être supérieure à 0.
          </div>
        </div>
      </div>
      <div>
        <label
          for="price"
          class="block text-sm font-medium text-muted-foreground"
          >Prix</label
        >
        <input
          type="number"
          id="price"
          ubInput
          formControlName="price"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('price')?.invalid && boatForm.get('price')?.touched
          "
          class="text-red-500 text-sm"
        >
          <div *ngIf="boatForm.get('price')?.errors?.['required']">
            Le prix est requis.
          </div>
          <div *ngIf="boatForm.get('price')?.errors?.['min']">
            Le prix doit être supérieur ou égal à 0.
          </div>
        </div>
      </div>
      <div>
        <label
          for="registrationNumber"
          class="block text-sm font-medium text-muted-foreground"
          >Numéro d'immatriculation</label
        >
        <input
          type="text"
          id="registrationNumber"
          ubInput
          formControlName="registrationNumber"
          class="mt-1 block w-full border rounded-lg p-2"
          required
        />
        <div
          *ngIf="
            boatForm.get('registrationNumber')?.invalid &&
            boatForm.get('registrationNumber')?.touched
          "
          class="text-red-500 text-sm"
        >
          <div *ngIf="boatForm.get('registrationNumber')?.errors?.['required']">
            Le numéro d'immatriculation est requis.
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <button ubButton type="button" (click)="toggleEditMode()" class="mr-2">
          Annuler
        </button>
        <button
          ubButton
          variant="outline"
          type="submit"
          [disabled]="boatForm.pristine"
        >
          Sauvegarder
        </button>
      </div>
    </form>

    <ng-template #viewMode>
      <div ubCardContent class="p-6">
        <p ubCardDescription class="text-lg mb-2">
          <strong>Description </strong> {{ boat.description }}
        </p>
        <p ubCardDescription class="text-lg mb-2">
          <strong>Année</strong> {{ boat.year }}
        </p>
        <p ubCardDescription class="text-lg mb-2">
          <strong>Longueur </strong> {{ boat.length }} mètres
        </p>
        <p ubCardDescription class="text-lg mb-4">
          <strong>Prix </strong> ${{ boat.price | number }}
        </p>
        <p ubCardDescription class="text-lg mb-2">
          <strong>Numéro d'immatriculation</strong>
          {{ boat.registrationNumber }}
        </p>
      </div>

      <div ubCardFooter class="flex justify-end p-6 border-t">
        <button ubButton (click)="goBack()" class="mr-2">
          Liste des bateaux
        </button>
        <button
          ubButton
          variant="outline"
          (click)="toggleEditMode()"
          class="mr-2"
        >
          Modifier
        </button>
      </div>
    </ng-template>
  </div>

  <div *ngIf="!boat" class="flex justify-center items-center h-screen">
    <p class="text-xl text-muted-foreground">Chargement ...</p>
  </div>
</div>
